<p id="notice"><%= notice %></p>
<tr>Welcome <%= current_user.name%> </tr>
<h1>Candidates</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Votes</th>
      <th>Action1</th>
      <th>Action2</th>
      <th>Action3</th>
      <th><%= link_to 'Votes Count', "/candidates?sort_order=desc" %></th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td> <p style="color:#FF0000";><%= candidate.name %> </p></td>
        <td><%= candidate.title %></td>
        <td><%= button_to 'vote', "/candidates/#{candidate.id}/voteoo", method: :post %></td>
        <td><%= link_to 'Show', candidate %></td>
        <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
        <td><%= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= candidate.votes.count %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Candidate', new_candidate_path %>
